@page "/inventories/delete"
@using Microsoft.EntityFrameworkCore
@using SalesBook.Models
@inject IDbContextFactory<SalesBook.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Inventory</h2>
    <hr />
    @if (inventory is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <EditForm method="post" Model="inventory" OnValidSubmit="DeleteInventory" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(inventory is null)">Delete</button> |
            <a href="/inventories">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Inventory? inventory;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        inventory = await context.Inventories.FirstOrDefaultAsync(m => m.Id == Id);

        if (inventory is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteInventory()
    {
        using var context = DbFactory.CreateDbContext();
        context.Inventories.Remove(inventory!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/inventories");
    }
}
